@import "../../../../styles/variables";
.SignInForm {
    .remember-me-forgot-pw {
        display: flex;
        flex-direction: row;
        a {
            margin-left: auto;
        }
        .ant-checkbox-wrapper {
            margin-right: 20px;
        }
        @media (max-width: $screen-xs-min) {
            flex-direction: column;
            a {
                margin-left: 0;
            }
        }
    }
    button {
        width: 100%;
    }
}