@import "../../styles/variables.scss";

.GuestHeader {
  position: absolute;
  left: 0;
  top: 20px;
  width: 100%;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 48px;

  a {
    color: white !important;
  }

  ul {
    background-color: transparent;
    border-bottom: 0;
    display: flex;

    .ant-menu-item:hover {
      border-bottom-color: white;
      border-bottom-width: 2px;
    }

    .ant-menu-item-selected {
      border-bottom-color: white;
    }
  }

  @media (max-width: $screen-xs-max) {
    padding: 0 10px;
  }

  @media (min-width: $screen-md-min) {
    padding: 0 128px;
  }

  @media (min-width: $screen-lg-min) {
    padding: 0 264px;
  }
}



